body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f2f2f2 !important;
}

#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.MuiTableRow-root-3.MuiTableRow-hover-5:hover {
    background: #f7f7f7 !important;
    cursor: pointer;
}

.tippy-tooltip {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #D0021B;
}

.label text {
	color: rgba(0, 0, 0, 0.87); 
	font-size: 0.6rem !important;
	font-weight: normal !important;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.current-value {
	display: none; 
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.table {
	min-width: 1020px;
}

.error-message {
	display: flex;
	justify-content: space-between;
}
.error-message span {
	color: #8A0011;
	font-size: 18px;
}

.MuiTableRow-root-89 {
	height: 55px;
}

[class^="MuiTableRow-"]:hover {
	background-color: rgba(0, 0, 0, 0.02) !important;
}

[class^="MuiGrid-item-"] {
	margin-top: 2em !important;
}

.progressBar {
	display: flex; 
	flex-direction: column;
	margin-top: 0.5em;
	width: 200px;
    margin: 0 auto;
}

.progressBar div {
	width: 100%;
	height: 15px;
	position: relative;
    margin-bottom: 0.5em;
}

.indicator {
	background-color: #51326c;
}

.recharts-surface {
	overflow: visible;
}

.recharts-layer.recharts-brush > rect {
	stroke: none;
}
.recharts-text.recharts-label {
	font-size: 12px;
	font-weight: 500;
}
.recharts-brush-texts {
	display: none;
}